@import 'styles/variables'

.wrapper
  border-bottom: 1px solid
  padding: $m
  margin-bottom: $m * 2
  border-radius: 5px
  &:hover
    opacity: 0.7

.text
  margin-bottom: $m

.tagsContainer
  display: flex
  overflow: auto
  padding-bottom: $xxs
  > div
    margin-right: $xs