@import 'styles/variables'

.wrapper
  padding: $m * 3 $m * 2

.listContainer
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-gap: $m * 1.5
  @media only screen and (max-width: 600px)
    grid-template-columns: repeat(1, 1fr)

.imageContainer
  display: flex
  justify-content: center
  width: 100% !important

.paginationContainer
  display: flex
  justify-content: center
  padding: $m * 2 0