.contentContainer
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 57rem
  background: #1F1D2B
  padding: 1rem
  border-radius: 20px
  border: transparent
  overflow: auto
  max-height: 80vh
